:root {
    --main-color: #0075DD;
    --button-color: #F7941D;
    --text-grey: #8390a2;
}
* {
    margin:  0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI';
}
/* This is for the Header*/
header {
    background:  var(--main-color);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: inline-block;
    left: 300px;
    width: 100%;
    height: 70px;
}
.my_logo img {
    width: 10%;
    position: inline;
}

.header_button {
    background: var(--button-color);
    border: none;
    width: 40px;
    height: 35px;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    margin: 15px 10px 15px 10px;
}

/* This is for the Sidebar*/
#sidebar {
    width: 300px;
    position: fixed;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    background: var(--main-color);
    z-index: -1;
    transition: all 400ms linear;
    left: 0px;
}
#sidebar.active {
    left:  -300px;
}
.nav_lbl {
    color: white;
    padding: 15px 20px;
    font-size: 15px;
}
.nav-button {
    color: white;
}
.nav-item {
    padding: 10px;
    align-content: center;
}

